
@{
    ViewBag.Title = "StudyRazor";
}
@{string strAlert = "<script>alert('警告');</script>";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            @{
                var str = "abc";
                ////下面会输出：this is a mail：dxl0321@qq.com, this is var: abc,this is mail@str,this is @；
                @: this is a mail：dxl0321@qq.com, this is var: @str,this is  mail@str,this is @@；
            }
        </p>
        <p>
            @*下面输出abc*@
            @str
        </p>
        <p>
            @*表示网站的根目录*@
            @Href("~/")
        </p>
        <p>
            @*输出HTML*@
            @Html.Raw("<font color='red'>红字</font>")
        </p>
        <p>
            @{
                string userName1 = "Test输出";
                @userName1
            }
        </p>
        @{string userName = "邓星林";}
        <p>@userName.</p>
        <p><span>@DateTime.Now.ToString("yyyy-MM-dd")</span></p>
        <span>@strAlert</span>
        <p>
            @{
                var i = "10";
            }
        </p>
        <p> i = @i.AsInt() </p> <!-- 输出 i = 10 -->
        <p>
            @RenderPage("ViewResultDemo.cshtml")
        </p>
        <p>
            @Html.TextBox("txtName")
        </p>
        <p>
            <!--调用本controller下的action方法-->
            @Html.Action("ContentResultDemo")
        </p>
        <p>
            <!--调用其它controller下的action方法，可以直接返回页面-->
            @*@Html.Action("Index","Test");*@
        </p>
        <p>
            @Html.Action("ChildActionDemo")
        </p>
        @*<p>@HelperView.sum(2,3)</p>*@
    </div>
</body>
</html>


