
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>拦截器</p>
        <p>@ViewData["InTime"]</p>
        <p>@ViewData["OutTime"]</p>
        <p>@ViewData["ResultBeforeTime"]</p>
        <p>@ViewData["ResultAfterTime"]</p>
        <p>@Html.ValidationMessage("errorMsg")</p>
    </div>
</body>
</html>
